<div class="page page--background">
	<header>
		{{>back-button}}
	</header>
	<main class="page__section">
		<h1 class="page__title">Підтвердження пошти</h1>
		<form action="" class="form">
			<div class="form__item">
				{{>field label='Код' placeholder='Введіть код' type='number' name='code'
				action="signupConfirmForm.change"}}
				<span name="code" class="form__error"></span>
			</div>
		</form>

		<button class="button button--disabled" type="button" onclick="signupConfirmForm.submit()">Підтвердити</button>

		<span class="link__prefix">Не прийшов код? <a class="link" href="/signup-confirm" id="renew">Надіслати
				ще раз</a></span>

		<span class="alert alert--success">Код підтвердження надіслано на вашу пошту!</span>
	</main>

</div>