<main>
	<a class="button button" href="/logout">Список користувачів</a>
	<a class="button button--gray" type="button" href="/recovery">Змінити пароль</a>
	<a class="button button--red" href="/logout">Вийти</a>

</main>