@use 'index' as s;

.form {
  display: grid;
  gap: s.space(3);

  &__item {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }

  &__error {
    font-size: 12px;
    color: s.color(red);

    &--active {
      display: block;
    }
  }
}

.button {
  background-color: s.color(main);
  border-radius: 10px;
  color: s.color(white);
  padding: s.space(4);
  font-size: 14px;
  font-weight: 700;

  @include s.click;

  &--disabled {
    opacity: 0.5;
    cursor: default;

    &:hover,
    &:active {
      opacity: 0.5;
      transform: none;
    }
  }
}

.alert {
  border: 1px solid transparent;
  padding: s.space(3) s.space(4);
  font-size: 14px;
  border-radius: 10px;

  &--error {
    color: s.color(red);
    border-color: s.color(red);
  }

  &--success {
    color: s.color(green);
    border-color: s.color(green);
  }

  &--progress {
    color: s.color(blue);
    border-color: s.color(blue);
  }

  &--disabled {
    display: none;
  }
}

.validation {
  &--active {
    border-color: s.color(red) !important;
  }
}
