<div class="page page--background">
	<header>
		{{>back-button}}
	</header>
	<main class="page__section">
		<h1 class="page__title">Реєстрація</h1>
		<form action="" class="form">

			<div class="form__item">
				{{>field label='Пошта' placeholder='Введіть пошту' type='email' name='email'
				action="signupForm.change"}}
				<span name="email" class="form__error"></span>
			</div>

			<div class="form__item">
				{{>field-select list=data.role label='Роль' placeholder='Оберіть роль' name='role'
				action="signupForm.change"}}
				<span name="role" class="form__error"></span>
			</div>

			<div class="form__item">
				{{>field-password label='Пароль' placeholder='Введіть пароль' type='password' name='password'
				action="signupForm.change"}}
				<span name="password" class="form__error"></span>
			</div>

			<div class="form__item">
				{{>field-password label='Підтвердіть пароль' placeholder='Введіть пароль' type='password'
				name='passwordAgain'
				action="signupForm.change"}}
				<span name="passwordAgain" class="form__error"></span>
			</div>

			<div class="form__item">
				{{>field-checkbox label='Погоджуюсь з умовами сервісу' action="signupForm.change" name='isConfirm'}}
				<span name="isConfirm" class="form__error"></span>
			</div>

		</form>

		<button class="button button--disabled" type="button" onclick="signupForm.submit()">Зареєструватись</button>
		<span class="link__prefix">Вже є акаунт? <a class="link" href="/login">Увійти</a></span>

		<span class="alert alert--disabled">Увага, помилка!</span>
	</main>

</div>